@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #E5E5E5;
  margin: 6;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.leaflet-container {
  width: 300px;
  height: 200PX;
}